<div #element class="container">
    <h1>Mon expertise</h1>

    <div nz-row nzJustify="center">
        <div nz-col nzXs="24" nzSm="20">
            <div nz-row nzJustify="start">
                <div
                    nz-col
                    nzXs="24"
                    nzSm="24"
                    nzMd="12"
                    nzXXl="8"
                    *ngFor="let col of data"
                    class="element"
                >
                    <div class="icons">
                        <img
                            *ngFor="let icon of col.icons"
                            nz-image
                            [nzSrc]="icon"
                            height="50px"
                            nzDisablePreview="true"
                        />
                    </div>
                    <h2 class="title">{{col.title}}</h2>
                    <div class="text" [innerHTML]="col.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
