<nz-layout class="layout">
    <nz-header>
        <a (click)="scrollService.scrollTo(scrollService.sections[0])">
            <div class="name">Romain Delorme-Glorieux</div>
        </a>
        <ul nz-menu nzTheme="light" nzMode="horizontal" id="top-bar-menu">
            <li
                nz-menu-item
                *ngFor="let section of scrollService.sections"
                (click)="scrollService.scrollTo(section)"
                [nzSelected]="scrollService.currentSection === section"
                fragment="section.anchor">
                
                {{section.name}}
            </li>
        </ul>
        <!-- <span nz-icon nzType="menu" nzTheme="outline" style="color: white;" (click)="openDrawerMenu()"></span> -->
    </nz-header>
    <nz-content>
        <nz-drawer
            nzPlacement="left"
            [nzVisible]="isOpenDrawer"
            (nzOnClose)="isOpenDrawer = false"
            [nzWidth]="300">

            <ng-container *nzDrawerContent>
                <ul nz-menu nzMode="inline">
                    <li
                        nz-menu-item
                        *ngFor="let section of scrollService.sections"
                        (click)="scrollService.scrollTo(section)"
                        [nzSelected]="scrollService.currentSection === section"
                        fragment="section.anchor">
                    
                        {{section.name}}
                    </li>
                </ul>
            </ng-container>
        </nz-drawer>

        <app-home #section></app-home>
        <app-expertise #section></app-expertise>
        <app-projects #section></app-projects>
        <app-about #section></app-about>
        <app-contact #section></app-contact>
    </nz-content>
    <nz-footer>
        <app-footer></app-footer>
    </nz-footer>
</nz-layout>
